*{
	margin: 0 auto;
}

header {
	width: 90%;
	background: black;
	color: white;
	padding: 10px;
}

nav {
	width: 90%;
	background: #99ffff;
	padding: 10px;
	display: flex;
	align-items: center;
}

nav a {
	color: black;
	text-decoration: none;
}

nav a:hover {
	color: blue;
	text-decoration: underline;
	transition: 0.3s;
}

main {
	width: 90%;
	height: 620px;
	padding: 10px;
	background: #ededed;
}

footer {
	width: 90%;
	background: black;
	color: white;
	padding: 10px;
}

iframe {
	border: 0px;
	width: 100%;
	height: 620px;
}
